/* in using tailwind h1 h2 ... don't work */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }


  /* Error */
.error-state-error {
  color: rgb(150, 60, 60);
  background-color: rgb(236, 206, 206);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
}